body {
    background: #090909;
    font: normal 32px/1 "Oxanium", sans-serif;
    color: #f9f9f9;

    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

img {
    margin: 0;
    padding: 0;
}