body {
    font: bold 48px/1 "Oxanium", sans-serif;
    color: #f9f9f9;

    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

a {
    color: #f9f9f9;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #090909;
}

img {
    margin: 0;
    padding: 0;
}